<style>
    .mail {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .message-content {
      font-family: Arial, Helvetica, sans-serif;
      max-width: 600px;
      font-size: 18px;
      line-height: 21px;
      background: #312E38;
      padding: 40px;
      border-radius: 20px;
      color: #EBEBEB;
      text-align: center;
    }

    .message-content a {
      text-decoration: none;
      color: #312E38;
      background: #FF8C42;
      padding: 10px;
      border-radius: 5px;
      font-weight: bold;

      transition: background-color 0.2s;
    }

    .message-content a:hover {
      background: #FF8C4295;
    }

    .greeting {
      font-size: 28px;
      font-weight: bold;
    }
  </style>

<div class="mail">
  <div class="message-content">
    <p class="greeting">Olá, {{name}}</p>
    <p>Parece que uma troca de senha para a sua conta foi solicitada.</p>
    <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p><br>
    <p>
      <a href="{{link}}">Resetar minha senha</a>
    </p><br>
    <p>Se não foi você, então descarte esse e-mail</p>
    <p class="signature">
      <div>
        <img src="https://imgur.com/NPPokeK.png" alt="Peguei" width="56px">
      </div>
      <div>
        Obrigado!<br />
        <strong>Equipe Peguei!</strong>
      </div>
    </p>
  </div>
</div>
